<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    {{ $style := resources.Get "css/style.css" }}
    {{ $fonts := resources.Get "css/fonts.css" }}
    {{ if hugo.IsProduction }}
    {{ $css := slice $style $fonts | resources.Concat "css/main.css" | minify }}
    <link rel="stylesheet" href="{{ $css.Permalink }}"/>
    {{ else }}
    <link rel="stylesheet" href="{{ $style.Permalink }}"/>
    <link rel="stylesheet" href="{{ $fonts.Permalink }}"/>
    {{ end }}
    <link rel="alternate" type="application/rss+xml" href="/post/index.xml" title="Alex Griffin" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
  </head>
  <body>
    <div id="preamble" class="status">
      <div class="container">
        <nav class="split">
          <a class="brand" href="/">Alex Griffin</a>
          <span>
            <a class="nav-link" href="/about/">About</a>
            <a class="nav-link" href="/post/">Archives</a>
          </span>
        </nav>
      </div>
    </div>

    <div id="content" class="container">
      {{ block "main" . }}
      {{ end }}
    </div>

    <div id="postamble" class="status">
      <div class="container">
        <footer>
          &copy; 2024 Alex Griffin. Unless otherwise noted, licensed under the
          <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.
        </footer>
      </div>
    </div>
  </body>
</html>
