:root {
    --main-fg-color: #222222;
    --main-bg-color: #fdfdfd;
    --main-border-color: #ccccc5;
    --link-color: #4d6495;
    --link-hover-color: #004488;

    --code-fg-color: #000000;
    --code-bg-color: #fbf7f0;
    --code-border-color: #c2bcb5;
    --code-region-color: #c2bcb5;
    --code-string-color: #00663f;
    --code-comment-color: #624416;
    --code-keyword-color: #531ab6;
    --code-constant-color: #0000b0;
    --code-type-color: #005f5f;
    --code-variable-color: #005e8b;
    --code-builtin-color: #8f0075;
    --code-function-color: #721045;

    --main-font: "Source Serif", serif;
    --alt-font: "Source Sans 3", sans-serif;
    --code-font: "Iosevka Flare Web", monospace;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --main-fg-color: #f3f5f7;
        --main-bg-color: #1b1d25;
        --main-border-color: #30393d;
        --link-color: #84a1bf;
        --link-hover-color: #7ac4ff;

        --code-fg-color: #ffffff;
        --code-bg-color: #0d0e1c;
        --code-border-color: #555a66;
        --code-region-color: #555a66;
        --code-string-color: #00c06f;
        --code-comment-color: #ff9f80;
        --code-keyword-color: #b6a0ff;
        --code-constant-color: #00bcff;
        --code-type-color: #6ae4b9;
        --code-variable-color: #00d3d0;
        --code-builtin-color: #f78fe7;
        --code-function-color: #feacd0;
    }
}

html {
    font-size: 18px;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
    font-family: var(--main-font);
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
    text-align: justify;
}

.container {
    margin: 0 auto;
    max-width: 40rem;
    padding: 0 1em;
}

nav {
    border-bottom: 1px solid var(--main-border-color);
    font-family: var(--alt-font);
    padding: 0.8em 0;
    line-height: 1.2;
    margin-bottom: 0.5em;
}

.split {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}

.split > h1,
.split > h2 {
    margin-bottom: 0;
}

/* Arrange splits vertically on mobile, except the nav bar. */
@media screen and (max-width: 575.98px) {
    nav.split {
        flex-direction: row;
    }

    .split {
        flex-direction: column;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--alt-font);
    font-weight: 600;
    line-height: 1.2;
    text-align: left;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1em;
}

h4,
h5,
h6 {
    font-style: italic;
}

.brand {
    font-size: 1.6em;
    font-weight: 600;
}

.nav-link {
    margin-left: 1em;
}

.date {
    font-family: var(--alt-font);
    font-style: italic;
}

a,
a:visited {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.5s ease;
}

h1 a,
h1 a:visited,
nav a,
nav a:visited {
    color: var(--main-fg-color);
}

a:hover,
h1 a:hover,
nav a:hover {
    color: var(--link-hover-color);
}

li > p {
    margin: 0;
}

hr {
    height: 1px;
    background-color: var(--main-border-color);
    border: none;
}

.morelink {
    font-family: var(--alt-font);
    text-align: left;
}

.postslink {
    font-family: var(--alt-font);
    text-align: center;
}

footer {
    border-top: 1px solid var(--main-border-color);
    font-family: var(--alt-font);
    font-size: 0.8em;
    margin: 2em 0;
    padding: 0.5em 0;
    text-align: center;
}

code,
.src {
    font-family: var(--code-font);
}

code {
    color: var(--code-fg-color);
}

p > code {
    font-size: 0.8em;
}

pre {
    margin: 0;
}

.src {
    background-color: var(--code-bg-color);
    border: 1px solid var(--code-border-color);
    color: var(--code-fg-color);
    font-size: 0.8em;
    overflow: auto;
    padding: 0.5em 1em;
}

.src::selection,
.src ::selection {
    background-color: var(--code-region-color);
}

.chroma .s,
.chroma .sa,
.chroma .sb,
.chroma .sc,
.chroma .dl,
.chroma .sd,
.chroma .s2,
.chroma .se,
.chroma .sh,
.chroma .si,
.chroma .sx,
.chroma .sr,
.chroma .s1,
.chroma .ss {
    color: var(--code-string-color);
}

.chroma .c,
.chroma .ch,
.chroma .cm,
.chroma .cp,
.chroma .cpf,
.chroma .c1,
.chroma .cs {
    color: var(--code-comment-color);
    font-style: italic;
}

.chroma .k,
.chroma .kd,
.chroma .kn,
.chroma .kp,
.chroma .kr,
.chroma .bp {
    color: var(--code-keyword-color);
}

.chroma .kc {
    color: var(--code-constant-color);
}

.chroma .nc,
.chroma .kt {
    color: var(--code-type-color);
}

.chroma .n,
.chroma .na,
.chroma .ni,
.chroma .ne,
.chroma .nl,
.chroma .nn,
.chroma .nv,
.chroma .nx,
.chroma .py,
.chroma .vc,
.chroma .vg,
.chroma .vi {
    color: var(--code-variable-color);
}

.chroma .nb,
.chroma .nd,
.chroma .vm {
    color: var(--code-builtin-color);
}

.chroma .nf,
.chroma .nt,
.chroma .fm {
    color: var(--code-function-color);
}

@media print {
    :root {
        --main-fg-color: #000000;
        --main-bg-color: #ffffff;
        --main-border-color: #cccccc;
        --link-color: #000000;
        --link-hover-color: #000000;

        --code-fg-color: #000000;
        --code-bg-color: #ffffff;
        --code-border-color: #cccccc;
        --code-region-color: #bdbdbd;
        --code-string-color: #000000;
        --code-comment-color: #000000;
        --code-keyword-color: #000000;
        --code-constant-color: #000000;
        --code-type-color: #000000;
        --code-variable-color: #000000;
        --code-builtin-color: #000000;
        --code-function-color: #000000;
    }

    hr,
    .nav-link {
        visibility: hidden;
    }

    nav,
    footer,
    .src {
        border-style: hidden;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    h1 a,
    h1 a:visited,
    nav a,
    nav a:visited {
        text-decoration: none;
    }
}
